{
  "plugins": [
    ["relay", { "artifactDirectory": "./src/__generated__" }],
    ["@babel/plugin-proposal-decorators", { "legacy": true }]
  ],
  "presets": ["module:metro-react-native-babel-preset"]
}
