# Xcode

## Build generated
build/
DerivedData
dist

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata

## Other
*.xccheckout
*.moved-aside
*.xcuserstate
*.xcscmblueprint

## Obj-C/Swift specific
*.hmap
*.ipa

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Custom

.DS_Store
node_modules
npm-debug.log
Artsy-UIFonts/*
Example/Pods/*
Example/vendor/*
Example/compile_commands.json
Example/Emission/Configuration.h
.vscode/launchReactNative.js
.vscode/.react/
.vscode/typings
.apphub
coverage
package-lock.json
yarn-error.log
.awcache

# Use a custom, cached location for Jest to save transpiling
# on every PR
.jest/cache

# Danger artifacts
tslint-errors.json

# Haul
#
haul-debug.log
.happypack
test-results.json
head_metadata.json
.vscode/*.sql

# TypeScript Logs
tsc_raw.log
