
# Xcode
.DS_Store
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
!default.xcworkspace
xcuserdata
profile
*.moved-aside
DerivedData
.idea/
*.xcscmblueprint
.pt
.build
tmtags
tmtagsHistory
config/releasenotes.txt
.bundle
Podfile.local
chairs/
.github
Artsy.xcodeproj/project.xcworkspace/xcshareddata/
Artsy.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
vendor/
compiler_commands.json

# Artsy Development APN certificate
net.artsy.artsy.dev.pem
.clang-format

# See note in Podfile
Artsy/App/Echo.json

# Fastlane
Preview.html
fastlane/report.xml
fastlane/Preview.html

Artsy/View_Controllers/App_Navigation/ARTopMenuViewController+DeveloperExtras.m
Artsy/View_Controllers/App_Navigation/ARTopMenuViewController+SwiftDeveloperExtras.swift
Artsy/Eigen.playground/

iOSInjectionProject/
.vscode/.browse.VC.db
fastlane/Gemfile.lock
Artsy.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
