{
  "processors": ["stylelint-processor-styled-components"],
  "extends": "stylelint-config-standard",
  "syntax": "scss",
  "rules": {
    "property-no-unknown": [true, { "ignoreProperties": ["resize-mode"] }],
    "block-opening-brace-space-after": null,
    "block-closing-brace-space-before": null
  }
}
