<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>673710093763-se1qs22hunrs8dql3c0nq2b2in7vou11.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.673710093763-se1qs22hunrs8dql3c0nq2b2in7vou11</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>673710093763-rbbhuim4imprtlrn7j0rtj0equcb2m4j.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA6AYt3p-bp5QrOMFEIC1PaN12itEf7Tuc</string>
	<key>GCM_SENDER_ID</key>
	<string>673710093763</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.artsy.app</string>
	<key>PROJECT_ID</key>
	<string>eigen-a7d3b</string>
	<key>STORAGE_BUCKET</key>
	<string>eigen-a7d3b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:673710093763:ios:f70da60add934f408f3976</string>
</dict>
</plist>