<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppIdentifierPrefix</key>
	<string>$(AppIdentifierPrefix)</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>$(DISPLAY_NAME)</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array/>
			<key>CFBundleTypeName</key>
			<string>Link</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>net.artsy.link</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>7.3.6</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb308278682573501</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>net.artsy.artsy</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>artsy</string>
				<string>artsy-x-callback-url</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>applewebdata</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.673710093763-mjnb33vmcd74p4io0kbc2d8mkpj9jnh7</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>2022.05.11.13</string>
	<key>FacebookAdvertiserIDCollectionEnabled</key>
	<false/>
	<key>FacebookAppID</key>
	<string>308278682573501</string>
	<key>FacebookAutoLogAppEventsEnabled</key>
	<false/>
	<key>FacebookClientToken</key>
	<string>5407e54f59d45eab502144b2e6943c6e</string>
	<key>FacebookDisplayName</key>
	<string>Artsy</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>GITCommitDate</key>
	<string>2021-01-21T15:08:22+04:00</string>
	<key>GITCommitHash</key>
	<string>c77772ee1f32093109049504f7865f9737ad8474</string>
	<key>GITCommitShortHash</key>
	<string>c77772ee1</string>
	<key>GITRemoteOriginURL</key>
	<string>https://github.com/artsy/eigen.git</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>comgooglemaps</string>
		<string>comgooglemaps-x-callback</string>
		<string>fbapi</string>
		<string>fb-messenger-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
		<string>instagram</string>
		<string>instagram-stories</string>
		<string>whatsapp</string>
		<string>tg</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIDesignRequiresCompatibility</key>
	<true />
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>MGLGlyphsRasterizationMode</key>
	<string>MGLIdeographsRasterizedLocally</string>
	<key>MGLMapboxMetricsEnabledSettingShownInApp</key>
	<string>YES</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Used for beta testers to collect usage information.</string>
	<key>NSCameraUsageDescription</key>
	<string>Find out how an artwork would look on your wall, upload photos of artworks you own, or add a profile picture.</string>
	<key>NSDocumentsUsageDescription</key>
	<string>In order to add additional documents to your submission, we need access to your documents to pick files.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Used to display shows near you</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Using User Location to display nearby shows</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Using User Location to display nearby shows</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Camera access is needed to submit consignments.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Photos will be used to gauge the quality of the work you are submitting.</string>
	<key>RCTNewArchEnabled</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>Unica77LL-Italic.otf</string>
		<string>Unica77LL-Medium.otf</string>
		<string>Unica77LL-MediumItalic.otf</string>
		<string>Unica77LL-Regular.otf</string>
	</array>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypeSearch</string>
			<key>UIApplicationShortcutItemSubtitle</key>
			<string></string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Search</string>
			<key>UIApplicationShortcutItemType</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER).search</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>Heart_Shortcut</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Favorites</string>
			<key>UIApplicationShortcutItemType</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER).favorites</string>
		</dict>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>BootSplash</string>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDarkContent</string>
	<key>UIStatusBarTintParameters</key>
	<dict>
		<key>UINavigationBar</key>
		<dict>
			<key>Style</key>
			<string>UIBarStyleDefault</string>
			<key>Translucent</key>
			<false/>
		</dict>
	</dict>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Automatic</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIViewEdgeAntialiasing</key>
	<true/>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Link</string>
			<key>UTTypeIdentifier</key>
			<string>net.artsy.link</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>Artsy</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
