<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EXUpdatesCodeSigningMetadata</key>
	<dict>
		<key>alg</key>
		<string>rsa-v1_5-sha256</string>
		<key>keyid</key>
		<string>main</string>
	</dict>
	<key>EXUpdatesCodeSigningCertificate</key>
	<string>./code-signing/certificate.pem</string>
	<key>EXUpdatesEnabled</key>
	<true/>
	<key>EXUpdatesCheckOnLaunch</key>
	<string>NEVER</string>
	<key>EXUpdatesLaunchWaitMs</key>
	<integer>0</integer>
	<key>EXUpdatesURL</key>
	<string>http://localhost:3000/api/manifest?project=eigen&amp;amp;channel=canary</string>
	<key>EXUpdatesRuntimeVersion</key>
	<string>1.0.0</string>
	<key>EXUpdatesRequestHeaders</key>
	<dict>
		<key>expo-channel-name</key>
		<string>canary</string>
	</dict>
</dict>
</plist>
