<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.developer.associated-domains</key>
	<array>
		<string>webcredentials:artsy.net</string>
		<string>webcredentials:www.artsy.net</string>
		<string>webcredentials:staging.artsy.net</string>
		<string>webcredentials:m.artsy.net</string>
	</array>
	<key>keychain-access-groups</key>
	<array>
		<string>$(AppIdentifierPrefix)net.artsy.Emission</string>
	</array>
</dict>
</plist>
