name: Build Android QA App for Maestro

on:
  schedule:
    - cron: "0 6 * * *" # Runs daily at 6:00 AM UTC
  workflow_dispatch: # Allows manual trigger

jobs:
  build-android-qa:
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    timeout-minutes: 90

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup repository environment
        uses: ./.github/actions/setup-repo-environment
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

      - name: Setup Ruby
        uses: ./.github/actions/setup-ruby

      - name: Setup JavaScript environment
        uses: ./.github/actions/setup-javascript-environment

      - name: Setup Android environment
        uses: ./.github/actions/setup-android-environment

      - name: Build Android app and upload to S3 for Maestro
        run: bundle exec fastlane build_maestro_android
        env:
          VERBOSE: 1
          ANDROID_KEYSTORE_PASSWORD: ${{ secrets.ANDROID_KEYSTORE_PASSWORD }}
          ANDROID_KEY_PASSWORD: ${{ secrets.ANDROID_KEY_PASSWORD }}
